<style type="text/css">

	:root{
		--main-background-color: #3386b8;
		--dark-background-color: #a2a2a2;
		--secondary-text-color: #808080;
		--light-primary-text-color: #0080ff;
	}

	head{
		font-family: "Segoe UI";
		font-weight: 380;
	}

	footer{
		font-family: "Segoe UI";
		font-weight: 380 important;
		width: 100%
	}

	body{
		background-color: var(--main-background-color);
		font-family: "Segoe UI";
		font-weight: 380;

	}

	#main{
		background-color: var(--main-background-color);
		/*width: 100%;*/
		min-height: 85vh;
	}
	
</style>